
/* Media screen pour desktop */

  
/* Styles les plus globaux */
*{
    max-width: 1400px;
    margin: 0;
    font-family:'raleway';
}
html, body { 
}

li{
    list-style: none;
}
h1,h2,h3,h4{
    font-size: 22px;
}
a{
    color: black;
    text-decoration: none;
}



/* En-tête du site */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 20px;
}
#logo-Booki{
height: 20px;
width: 60px;
padding-top: 30px;
padding-left: 15px;
}
.nav-bar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#menu {
    display: flex;
    flex-direction: row;
}
nav > ul > li{
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
nav > ul > li:hover{
border-top: 1px solid blue;
}



/* Contenu principal/central du site */
.principal-content{
    display: flex;
    flex-direction: column;
    padding: 35px 35px;

}
.body-offers{
    display:flex;
    flex-direction: column;


}
.form-recherche{
    width:  350px;
    padding-top: 16px;

}
.form-location{
    display: flex;
    flex-direction: row;
}

#icon-position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
}
#recherche {
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    font-style: normal;
    text-align: center;
    color: black;
    width: 100%;
    border: 0.5px solid #F2F2F2;
    background-color: white;

}
button {

    text-align: center;
    font-family:'raleway';
    background-color: #0065FC;
    border: 0px solid #F2F2F2;
    border-radius: 0px 15px 15px 0px;
}
button > a {
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    font-style: normal;
    color: white;
    text-decoration: none;
}
#icon-loupe{
    display: none;
}
.filter-bar{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    color: black;
    font-style: normal;
    padding: 20px 0px 15px 0px;

}
#filter{
    display: flex;
    flex-direction: row;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
}
.filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 10px ;
    box-sizing: border-box;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin: 0px 20px;
    padding: 0 15px;

}
.filter:hover{
    background-color: #DEEBFF;
}
section > div > ul{
padding: 0;
}
.filter-icon{
color: #0065FC;
padding: 10px 10px 10px 0px;
}
#info-logements{
padding: 10px 0px 10px 5px;
}
.p-info{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 5px;
}
#p-filter{
    font-weight: 700;
    font-size: 18px;
}
#info-availablity{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
}
#icon-info{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 10px;

}
#p-info-logements{
    padding: 0px 10px;
}

/* Hebergements proposés dans la ville choisie */
.accomodation-town{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}
.town{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 30px 30px;
}
.availablity-town{
    width: 58%;
    height: 60%;
}
#availablity-title-town{
    padding: 10px 0px 20px 0px;
}
.availablity{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    height: 80%;
}
.container{
    width: 100%;
    height: 100%;
    margin-bottom:25px;
    border: 5px solid white;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 4px 14px #E5E3E2;
}
.container:hover{
    box-shadow: 2px 8px 28px #E5E3E2;

}
.container-link1{
    display: flex;
    width: 30%;
    height: 40%;
}
.name{
    font-weight:700;
}
.img-availablity{
    object-fit: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 125px;
    border-radius: 20px 20px 0px 0px;
    background-color:blue;
}
.info{
    padding: 10px 0px 5px 10px;
}
.star-blue{
    color: #0065FC;
}
.star-grey{
    color: #F2F2F2;
}
#afficher-plus{
    font-weight:700;
    font-size: 18px;
    padding: 5px 0px 5px 0px;
}


/* Hebergements les plus populaires dans en ville */
.container-link2{
    display: flex;
    height: 25%;
    width: 96%;
}
.popular-town{
    align-items: flex-start;
    justify-content: flex-start;
    width:28%;
}
.popular-town-info{
    display: flex;
    flex-direction: column;
}
#popular-town-head{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#popular-town-title{
    padding: 10px 0px 20px;
}
.popular-container{
display: flex;
flex-direction: row;
}
.img-popular{
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    width: 40%;
}
.popular{
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
width: 100%;
}
.stars1{
    padding-top: 5px;
}
.stars2{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
}

/* Activités proposées en ville */
.body-activities{
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    margin-top: 30px;
    height: auto;
}
.container-link3{
    display: flex;
    flex-direction: column;
    width: 22%;
}
.town-activities{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: white;
    padding: 0px;
}
.activities{
    margin-top: 25px;
    border: 0px;
}
.activities-town-info{
    padding: 20px 0px 18px 15px;
}
.img-activities{
    object-fit: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 445px;
    border-radius: 20px 20px 0px 0px;
}

/* Bas-de-page du site */
.footer{
    padding: 0px 35px;
}
.footer-content{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 50px 30% 70px 5%;
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#h4{
    padding-bottom: 15px;
}
.list-elements{
    padding-bottom: 10px;
}







/* Media screen pour tablette */
@media screen and (max-width: 992px){
    /* Styles les plus globaux */
    *{
        margin: 0;
        font-family:'raleway';
    }
    html, body { 
        height : 100%; 
    }
    
    li{
        list-style: none;
    }
    h1,h2,h3,h4{
        font-size: 22px;
    }
    a{
        color: black;
        text-decoration: none;
    }
    
    
    /* En-tête du site */
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 45px 20px;
    }
    #logo-Booki{
    height: 20px;
    width: 60px;
    padding-top: 30px;
    padding-left: 15px;
    }
    .nav-bar{
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    #menu {
        display: flex;
        flex-direction: row;
    }
    nav > ul > li{
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    nav > ul > li:hover{
    border-top: 1px solid blue;
    }
    
    
    /* Contenu principal/central du site */
    .principal-content{
        display: flex;
        flex-direction: column;
        padding: 35px 60px;
    
    }
    .body-offers{
        display:flex;
        flex-direction: column;
    
    
    }
    .form-recherche{
        width:  350px;
        padding-top: 16px;
    
    }
    .form-location{
        display: flex;
        flex-direction: row;
    }
    
    #icon-position {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        border: 0px solid rgb(255, 255, 255);
        border-radius: 15px 0px 0px 15px;
        background-color: #F2F2F2;
    }
    #recherche {
        font-size: 17px;
        font-weight: 700;
        line-height: 21px;
        font-style: normal;
        text-align: center;
        color: black;
        width: 100%;
        border: 0.5px solid #F2F2F2;
        background-color: white;
    
    }
    button {
    
        text-align: center;
        font-family:'raleway';
        background-color: #0065FC;
        border: 0px solid #F2F2F2;
        border-radius: 0px 15px 15px 0px;
    }
    button > a {
        font-size: 17px;
        font-weight: 700;
        line-height: 21px;
        font-style: normal;
        color: white;
        text-decoration: none;
    }
    #icon-loupe{
        display: none;
    }
    .filter-bar{
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
        color: black;
        font-style: normal;
        padding: 20px 0px 15px 0px;
    
    }
    #filter{
        display: flex;
        flex-direction: row;
        font-size: 17px;
        font-weight: 700;
        line-height: 20px;
    }
    .filter{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 10px ;
        box-sizing: border-box;
        border: 2px solid #F2F2F2;
        border-radius: 25px;
        margin: 0px 20px;
        padding: 0 15px;
    
    }
    .filter:hover{
        background-color: #DEEBFF;
    }
    section > div > ul{
    padding: 0;
    }
    .filter-icon{
    color: #0065FC;
    padding: 10px 10px 10px 0px;
    }
    #info-logements{
    padding: 10px 0px 10px 5px;
    }
    .p-info{
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        padding-top: 5px;
    }
    #p-filter{
        font-weight: 700;
        font-size: 18px;
    }
    #info-availablity{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 30px;
    }
    #icon-info{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0065FC;
        border: 1px solid #F2F2F2;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 10px;
    
    }
    #p-info-logements{
        padding: 0px 10px;
    }
    
    
    /* Hebergements proposés dans la ville choisie */
    .availablity-town {
        display: flex;
        height: 60%;
    }
    .popular-town{
    display: flex;
    flex-direction: column;
    }

    .town{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 20px;
        background-color: #F2F2F2;
        padding: 30px 30px;
        margin: 20px 0px 20px 0px;
        width: auto;
    }

    #availablity-title-town{
        padding: 10px 0px 20px 0px;
    }
    .availablity{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px;
        height: 80%;
    }
    .container{
        width: 100%;
        height: 100%;
        margin-bottom:25px;
        border: 5px solid white;
        border-radius: 20px;
        background-color: white;
        box-shadow: 1px 4px 14px #E5E3E2;
    }
    .container:hover{
        box-shadow: 2px 8px 28px #E5E3E2;
    
    }
    .container-link1{
        display: flex;
        width: 30%;
        height: 40%;
    }
    .name{
        font-weight:700;
    }
    .img-availablity{
        object-fit: cover;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 125px;
        border-radius: 20px 20px 0px 0px;
        background-color:blue;
    }
    .info{
        padding: 10px 0px 5px 10px;
    }
    .star-blue{
        color: #0065FC;
    }
    .star-grey{
        color: #F2F2F2;
    }
    #afficher-plus{
        font-weight:700;
        font-size: 18px;
        padding: 5px 0px 5px 0px;
    }
    .stars1{
        padding-top: 5px;
    }


    /* Hebergements les plus populaires dans en ville */
    .container-link2{
        display: flex;
        width: 30%;
    }
    .accomodation-town{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .popular-town-info{
        display: flex;
        flex-direction: column;
    }
    #popular-town-head{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    #popular-town-title{
        padding: 10px 0px 20px;
    }
    .popular-container{
    display: flex;
    flex-direction: row;
    height: 150px;
    }
    .img-popular{
        object-fit: cover;
        border-radius: 20px 0px 0px 20px;
        width: 40%;
    }
    .popular {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }
    .stars2{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        height: 100%;
    }
    
    
    /* Activités proposées en ville */
    .body-activities{
        display: flex;
        flex-direction: column;
        padding: 30px 0px;
        margin-top: 30px;
        height: auto;
    }
    .container-link3{
        display: flex;
        flex-direction: column;
        width: 22%;
    }
    .town-activities{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        background-color: white;
        padding: 0px;
    }
    .activities{
        margin-top: 25px;
        border: 0px;
    }
    .activities-town-info{
        padding: 20px 0px 18px 15px;
    }
    .img-activities{
        object-fit: cover;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 267px;
        border-radius: 20px 20px 0px 0px;
    }
    
    
    /* Bas-de-page du site */
    .footer{
        padding: 0px 60px;
    }
    .footer-content{
        background-color: #F2F2F2;
        display: flex;
        justify-content: space-between;
        height: 100px;
        padding: 50px 25% 70px 5%;
    }
    .list{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #h4{
        padding-bottom: 15px;
    }
    .list-elements{
        padding-bottom: 10px;
    }
}
/**/






/* Media screen pour mobile */
@media screen and (max-width: 768px){

    /* Styles les plus globaux */
*{
    max-width: 1400px;
    margin: 0;
    font-family:'raleway';
}
html, body { 
    width: 100%;
}

li{
    list-style: none;
}
h1,h2,h3,h4{
    font-size: 22px;
}
a{
    color: black;
    text-decoration: none;
}



/* En-tête du site */
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
#logo-Booki{
height: 20px;
width: 60px;
padding-top: 30px;
padding-left: 15px;
}
.nav-bar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 0px;
}
.menu-name{
    font-size: 16px;
}
nav > ul > li{
    text-align: center;
    padding: 45px 0px 20px 0px;
    width: 50%;
}
nav > ul > li:hover{
    border-top: 0px;
    border-bottom: 3px solid blue;
}



/* Contenu principal/central du site */
.principal-content{
    display: flex;
    flex-direction: column;
    padding: 30px 0px;

}
.body-offers{
    display:flex;
    flex-direction: column;


}
#title-h1{
    padding-left: 25px;
    padding-right: 25px;
}
#p-localisation{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
}
.form-recherche{
    width:  auto;
    padding-top: 38px;
    padding-left: 25px;
    padding-right: 25px;
}
.form-location{
    display: flex;
    flex-direction: row;
}

#icon-position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
}
#recherche {
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    font-style: normal;
    text-align: center;
    color: black;
    width: 100%;
    height: 50px;
    border: 0.5px solid #F2F2F2;
    background-color: white;

}
button {

    text-align: center;
    font-family:'raleway';
    background-color: #0065FC;
    border: 0px solid #F2F2F2;
    border-radius: 0px 15px 15px 0px;
    width: 50px;
}
button > a {
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    font-style: normal;
    color: white;
    text-decoration: none;
    display: none;
}
#icon-loupe{
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}
.filter-bar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
    font-style: normal;
    padding: 32px 0px 15px 0px;

}
#p-filter{
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    width: 90%;
}
#filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 700;
    line-height: 0px;
    width: 95%;
}
.filter{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    padding: 0 10px;
    width: 46%;
    margin: 7px 5px;
}
.filter:hover{
    background-color: #DEEBFF;
}
section > div > ul{
padding: 0;
}
.filter-name{
    font-size: 10px;
}
.filter-icon{
color: #0065FC;
padding: 10px 10px 10px 0px;
}
#info-logements{
padding: 18px 0px 10px 5px;
}
.p-info{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 5px;
}
#p-filter{
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 8px;
}
#info-availablity{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 25px;
}
#icon-info{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 10px;

}
#p-info-logements{
    padding: 0px 10px;
}

/* Hebergements proposés dans la ville choisie */
.accomodation-town{
    display: flex;
    flex-direction: column-reverse;
    justify-content:space-between;
}
.town{
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    justify-content: space-around;
    padding: 30px 0px;
}
#town1{
    background-color: #F2F2F2;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 38px;
    margin: 0px;
}
.availablity-town{
    width: auto;
    height: 60%;
}
.availablity{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    height: 80%;
}
.container{
    width: 100%;
    height: 100%;
    margin-bottom: 12px;
    border: 5px solid white;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 4px 14px #E5E3E2;
}
.container:hover{
    box-shadow: 2px 8px 28px #E5E3E2;

}
.container-link1{
    display: flex;
    width: auto;
    height: 40%;
}
.name{
    font-weight:700;
}
.img-availablity{
    object-fit: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 125px;
    border-radius: 20px 20px 0px 0px;
    background-color:blue;
}
.info{
    padding: 10px 0px 5px 10px;
}
.star-blue{
    color: #0065FC;
}
.star-grey{
    color: #F2F2F2;
}
#afficher-plus{
    font-weight:700;
    font-size: 18px;
    padding: 5px 0px 5px 0px;
    display: none;
}


/* Hebergements les plus populaires dans en ville */
.container-link2{
    display: flex;
    height: 25%;
    width: 100%;
}
.popular-town{
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
}
#town2{
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0px;
}
#availablity-title-town{
    padding: 0px 0px 20px 0px;
    margin: 0px;
}
.popular-town-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
}
#popular-town-head{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#popular-town-title{
    padding: 10px 0px 25px;
}
#icon-stats{
    padding: 0px 0px 10px
}
.popular-container{
display: flex;
flex-direction: row;
}
.img-popular{
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    width: 40%;
    height: 150px;
}
.popular{
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
}
.stars1{
    padding-top: 5px;
}
.stars2{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
}

/* Activités proposées en ville */
.body-activities{
    display: flex;
    flex-direction: column;
    padding: 60px 25px;
    margin: 0px;
    height: auto;
}
#activities{
    padding-bottom: 40px;
}
.container-link3{
    display: flex;
    flex-direction: column;
    width: auto;
}
.town-activities{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 0px;
}
.activities{
    margin-top: 12px;
    border: 0px;
}
.activities-town-info{
    padding: 20px 0px 18px 15px;
}
.img-activities{
    object-fit: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 185px;
    border-radius: 20px 20px 0px 0px;
}

/* Bas-de-page du site */
.footer{
    padding: 0px;
}
.footer-content{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding: 50px 30% 20px 5%;
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
}
#h4{
    padding-bottom: 15px;
}
.list-elements{
    padding-bottom: 10px;
}
.assistance{
    padding-top: 10px;
}

}